In [512]:
# Importing all relevant libraries
import pandas as pd
import numpy as np
import shutil
from shutil import *
import csv
import copy
import datetime as dt

In [398]:
# Copies the file from .txt to .csv
shutil.copyfile("C:\\Cogencis WorkStation\\TMP\\Specific\\Common\\QUOTELISTS2.TXT","C:\\Users\\g.bhargavi\\Desktop\\owtest12.csv")

'C:\\Users\\g.bhargavi\\Desktop\\owtest12.csv'

In [545]:
# Code starts: Writing and replacing separators
list_browser = open("C:\\Users\\g.bhargavi\\Desktop\\owtest12.csv","r+")
list_browser = list_browser.read()
list_browser1 = list_browser.replace("|",",")
f= open("C:\\Users\\g.bhargavi\\Desktop\\owtest12.txt","w+")
f.write(list_browser1)
shutil.copyfile("C:\\Users\\g.bhargavi\\Desktop\\owtest12.txt","C:\\Users\\g.bhargavi\\Desktop\\owtest12.csv")

list_browser2 = list_browser1.replace("@",",")
f= open("C:\\Users\\g.bhargavi\\Desktop\\owtest13.txt","w+")
f.write(list_browser2)
shutil.copyfile("C:\\Users\\g.bhargavi\\Desktop\\owtest13.txt","C:\\Users\\g.bhargavi\\Desktop\\owtest13.csv")

f= open("C:\\Users\\g.bhargavi\\Desktop\\owtest14.txt","w+") 
f.write(list_browser2)

df = pd.read_csv("C:\\Users\\g.bhargavi\\Desktop\\owtest13.csv",error_bad_lines=False,engine='python',header=None)
#df.describe()
try: 
    df
except error_bad_lines: 
    print("Error") 
finally: 
    df.head()

L = pd.DataFrame(df)

L.rename(columns={0:'Col1',1:'Col2',2:'Col3'}, inplace=True)



#col_list = ['Col1','Col2','Col3','Col4','Col5','Col6','Col7','Request','Extensions','LineID','Flag','ListOrder','LastUpdate']

#L['Col2'] = np.nan
#L['Col3'] = np.nan
#L['Col4'] = np.nan
#L['Col5'] = np.nan
#L['Col6'] = np.nan
#L['Col7'] = np.nan
#L['Request'] = np.nan
#L['Flag'] = 'Global'
#L['ListOrder'] = np.nan
#L['LastUpdate'] = np.nan

L['Col1'] = L['Col1'].str.split(';', expand=True)

L.head()

882980

'C:\\Users\\g.bhargavi\\Desktop\\owtest12.csv'

882980

'C:\\Users\\g.bhargavi\\Desktop\\owtest13.csv'

882980

Skipping line 274: Expected 3 fields in line 274, saw 4
Skipping line 275: Expected 3 fields in line 275, saw 4
Skipping line 279: Expected 3 fields in line 279, saw 4
Skipping line 281: Expected 3 fields in line 281, saw 4
Skipping line 317: Expected 3 fields in line 317, saw 4
Skipping line 337: Expected 3 fields in line 337, saw 4
Skipping line 380: Expected 3 fields in line 380, saw 4
Skipping line 446: Expected 3 fields in line 446, saw 4
Skipping line 569: Expected 3 fields in line 569, saw 5
Skipping line 570: Expected 3 fields in line 570, saw 5
Skipping line 571: Expected 3 fields in line 571, saw 5
Skipping line 572: Expected 3 fields in line 572, saw 5
Skipping line 573: Expected 3 fields in line 573, saw 5
Skipping line 574: Expected 3 fields in line 574, saw 5
Skipping line 634: Expected 3 fields in line 634, saw 4
Skipping line 678: Expected 3 fields in line 678, saw 5
Skipping line 782: Expected 3 fields in line 782, saw 4
Skipping line 798: Expected 3 fields in line 798, saw 4
Skipping line 1143: Expected 3 fields in line 1143, saw 4
Skipping line 1150: Expected 3 fields in line 1150, saw 4
Skipping line 2377: Expected 3 fields in line 2377, saw 4
Skipping line 5053: Expected 3 fields in line 5053, saw 5
Skipping line 5128: Expected 3 fields in line 5128, saw 5
Skipping line 6965: Expected 3 fields in line 6965, saw 4
Skipping line 6966: Expected 3 fields in line 6966, saw 4
Skipping line 7795: Expected 3 fields in line 7795, saw 4
Skipping line 8940: Expected 3 fields in line 8940, saw 4
Skipping line 8969: Expected 3 fields in line 8969, saw 5
Skipping line 8970: Expected 3 fields in line 8970, saw 4

                                                      0           1       2
0          Indices;Abu Dhabi;Abu Dhabi Indices ;*.ADS/I         ADS  7169.0
1        Indices;Argentina;Main Argentina Indices;*.SBI         SBI    49.0
2     Indices;Australia;Main Australia Indices;#IAUS...          AX    50.0
3         Indices;Austria;Main Austria Indices;#IVIENNA         VIE    51.0
4     Indices;Belgium;Euronext Bruxelles - Main Indi...     BRU+EMI    52.0
5            Indices;Brazil;Main Brazil Indices;*.BOI/I         BOI    53.0
6     Indices;Canada;TSX Toronto;S&P/TSX Offical Ind...          TO    54.0
7     Indices;Canada;TSX Toronto;S&P/TSX Offical Sec...          TO    55.0
8     Indices;Canada;TSX Toronto;S&P/TSX Offical Tru...          TO    56.0
9     Indices;Canada;TSX Venture;S&P/TSX Venture Com...        TO+V  3363.0
10    Indices;Chile;Santiago Indices - Price Return;...         SAN  7165.0
11    Indices;Chile;Santiago Indices - Total Return;...         SAN    57.0
12        Indices;China;China Indices - CSI;#ICHINA_CSI         CSI    59.0
13     Indices;China;China Indices - Shanghai;0000*.CSI         CSI    60.0
14      Indices;China;China Indices - Shenzhen;399*.CSI         CSI    61.0
15    Indices;China;FTSE Xinhua A 600 Sectorial Indi...         FTS    64.0
16    Indices;China;FTSE Xinhua QDII Indices;#FTS_I_...         FTS    63.0
17    Indices;China;Main FTSE Xinhua Indices;#FTS_I_...         FTS    62.0
18      Indices;China;Main Hong Kong Indices;#IHONGKONG         HKI    58.0
19    Indices;Commodity Indices;Major Commodity Indi...  XX+EMI+XDJ     8.0
20    Indices;Commodity Indices;Nasdaq Commodity Ind...          XO  7312.0
21    Indices;Czech Republic;Main Czech Republic Ind...         PRI    66.0
22    Indices;Denmark;FTSE Denmark 20 Index;#IFTSE_D...         FTS    68.0
23    Indices;Denmark;Main Denmark Indices;#ICOPENHAGEN     OMX+OMI    67.0
24             Indices;Egypt;Main Egypt Indices;*.EGX/I         EGX  7206.0
25    Indices;Estonia;Main Estonia Indices;#IOMXTALLINN         TAL    69.0
26    Indices;Finland;FTSE Finland 25 Index;#IFTSE_F...         FTS    71.0
27      Indices;Finland;Main Finland Indices;#IHELSINKI     OMX+OMI    70.0
28    Indices;France;Euronext Paris - Main Indices;#...      PA+EMI    72.0
29     Indices;Germany;Main Germany Indices;#IFRANKFURT         XEI    73.0
...                                                 ...         ...     ...
9032  Strategies;SGX;Calendar Spread;Index;SGX Nikke...          SX  7681.0
9033  Strategies;SGX;Calendar Spread;Index;SGX Nikke...          SX  7682.0
9034  Strategies;SGX;Calendar Spread;Index;SGX Nikke...          SX  5246.0
9035  Strategies;SGX;Calendar Spread;Index;SGX Nikke...          SX  7683.0
9036  Strategies;SGX;Calendar Spread;Index;SGX Strai...          SX  7684.0
9037  Strategies;SGX;Calendar Spread;Rate;SGX Euroye...          SX  5226.0
9038  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7555.0
9039  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7556.0
9040  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7558.0
9041  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7557.0
9042  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7559.0
9043  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7560.0
9044  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7562.0
9045  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7563.0
9046  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7561.0
9047  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7564.0
9048  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7566.0
9049  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7565.0
9050  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7569.0
9051  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7568.0
9052  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7570.0
9053  Strategies;Tokyo Commodity Exchange;Calendar S...         TKT  7567.0
9054  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7571.0
9055  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7572.0
9056  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7573.0
9057  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7574.0
9058  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7575.0
9059  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7576.0
9060  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7577.0
9061  Strategies;Tokyo Commodity Exchange;Inter-Comm...         TKT  7578.0

[9062 rows x 3 columns]

                                                   0        1       2
0       Indices;Abu Dhabi;Abu Dhabi Indices ;*.ADS/I      ADS  7169.0
1     Indices;Argentina;Main Argentina Indices;*.SBI      SBI    49.0
2  Indices;Australia;Main Australia Indices;#IAUS...       AX    50.0
3      Indices;Austria;Main Austria Indices;#IVIENNA      VIE    51.0
4  Indices;Belgium;Euronext Bruxelles - Main Indi...  BRU+EMI    52.0

      Col1     Col2    Col3
0  Indices      ADS  7169.0
1  Indices      SBI    49.0
2  Indices       AX    50.0
3  Indices      VIE    51.0
4  Indices  BRU+EMI    52.0

In [481]:

M = L['Col1'].str.split(';').str[-2]
M.head()

N = df.insert(1,"Col5","Any")
print(df)

#df.insert(1, "Col4",[df], True)

KeyError: 'Col5'

In [ ]:

filename = "C:\\Users\\g.bhargavi\\Desktop\\Titanic Predictions 1.csv"

f.to_csv(filename,index=False)

print('Saved file: ' + filename)

In [ ]:

#x = lb.head = ['a','b','c','d','e','f','g','h','i']
#x = [lb]
#y = lb.splitlines()
#b = y.replace('@',",")
#z = pd.DataFrame(b)[0]